# Ignore data files
/data/*

# macOS system files
.DS_Store

# Ignore virtual environment
venv/

# Ignore temporary files
*.log
*.tmp

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large model files
models/
*.pt
*.bin

# Ignore cache
__pycache__/
*.pyc
*.pyo

# Ignore model outputs and checkpoints
notebooks/outputs/
notebooks/outputs2/

# Ignore large csv data files (if applicable)
data/raw/*.csv
