# Ignore data files
/data/processed/processed_movie_reviews.pkl
/data/processed/processed_movie_reviews.pkl.gz
/data/raw/*

# Ignore virtual environment
venv/

# Ignore temporary files
*.log
*.tmp

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large model files
models/
*.pt
*.bin

# Ignore cache
__pycache__/
*.pyc
*.pyo